.education-container {
  padding: 2%;
  color: black;
  height: 100%;
  text-align: left;
}

.education-list ul {
  list-style: none;
}

.education-list li {
  margin: 15px;
}

.education-header {
  display: grid;
  grid-template-columns: 0.75fr 0.25fr;
}

.education-name {
  grid-column: 1;
  grid-row: 1;
  font-size: 1.1rem;
  color: darkslateblue;
  text-decoration: underline;
  font-weight: 600;
}

.education-date {
  margin: 2%;
  grid-column: 2;
  grid-row: 1;
  font-size: 1rem;
  font-weight: 100;
  background-color: rgb(248, 115, 20);
  text-align: center;
  color: whitesmoke;
  border-radius: 20px;
}

.education-scl {
  font-weight: bold;
  font-size: 1rem;
  position: relative;
  left: 3%;
}

.education-gr {
  position: relative;
  font-size: 1rem;
  left: 3%;
}
