@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.project-container {
  margin-top: 5%;
  padding: 0.1px;
  color: hsl(0, 0, 20%);
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.project-heading {
  margin-top: 5%;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}
